NODE_ENV=development

# Port config
PORT=3000

# Database
# Use postgresql for local development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fairinsight?schema=public

# JWT config
JWT_SECRET=your_jwt_secret
EXPPIRE_DAYS=7d

# Hash password
SALT_ROUNDS=10

# CORS & Host
CORS_ALLOW=*
HOST=http://localhost:3000, http://localhost:5173

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Docker (optional)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fairinsight

PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin@gmail.com