:root {
  /* =========================================
    1. PRIMITIVE PALETTE
    ========================================= */

  --white: #ffffff;
  --black: #000000;

  /* Primary (Red) */
  --primary-50: #fdd2d4;
  --primary-400: #c64a50;
  --primary-500: #b81d24;
  --primary-600: #93171d;

  /* Greys */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7ea;
  --grey-300: #d2d5db;
  --grey-400: #9ea2ae;
  --grey-500: #6d717f;
  --grey-600: #4d5461;
  --grey-700: #394050;
  --grey-800: #1f2937;
  --grey-900: #111827;
  --slate-600: #4D5461;

  /* Status Colors */
  --green-500: #43b75d;
  --green-600: #3da755;
  --yellow-400: #ffbb33;
  --yellow-500: #ffaa00;
  --error-400: #ef4444;
  --error-500: #dc2626;
  --blue-50: #eff6ff;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;

  /* Indigo */
  --indigo-50: #f5f3ff;
  --indigo-100: #ede9fe;
  --indigo-400: #8b5cf6;
  --indigo-500: #7c3aed;
  --indigo-600: #6d28d9;
  --indigo-900: #4c1d95;

  /* =========================================
    2. SEMANTIC TOKENS (Light Mode)
    ========================================= */
  --background-primary: var(--white);
  --background-primary-light: var(--primary-50);
  --background-secondary: var(--grey-100);
  --background-tertiary: var(--grey-50);

  --text-primary: var(--grey-900);
  --text-secondary: var(--grey-600);
  --text-tertiary: var(--grey-400);
  --text-description: var(--slate-600);

  --border-primary: var(--grey-200);
  --border-secondary: var(--grey-300);
  --border-focus: var(--grey-500);

  /* Status colors */
  --error-primary: var(--error-400);
  --error-secondary: var(--error-500);
  --success-primary: var(--green-500);
  --success-secondary: var(--green-600);
  --warning-primary: var(--yellow-400);
  --warning-secondary: var(--yellow-500);
  --info-primary: var(--blue-500);
  --info-secondary: var(--blue-600);

  /* Shadcn Core Variables */
  --background: var(--background-primary);
  --foreground: var(--text-primary);
  --border: var(--border-primary);
  --input: var(--border-secondary);
  --ring: var(--border-focus);
  --primary: var(--primary-500);
  --primary-foreground: var(--white);
}

/* =========================================
  3. SEMANTIC TOKENS (Dark Mode)
  ========================================= */
[data-theme='dark'] {
  --background-primary: var(--grey-900);
  --background-secondary: var(--grey-800);
  --background-tertiary: var(--grey-700);

  --text-primary: var(--grey-100);
  --text-secondary: var(--grey-200);
  --text-tertiary: var(--grey-300);
  --text-description: var(--slate-600);

  --border-primary: var(--grey-700);
  --border-secondary: var(--grey-600);
  --border-focus: var(--grey-400);
  

  /* Status colors */
  --error-primary: var(--error-500);
  --error-secondary: var(--error-400);
  --success-primary: var(--green-600);
  --success-secondary: var(--green-500);
  --warning-primary: var(--yellow-500);
  --warning-secondary: var(--yellow-400);
  --info-primary: var(--blue-400);
  --info-secondary: var(--blue-500);

  /* Shadcn Core Variables */
  --background: var(--background-primary);
  --foreground: var(--text-primary);
  --border: var(--border-primary);
  --input: var(--border-secondary);
  --ring: var(--border-focus);
  --primary: var(--primary-400);
  --primary-foreground: var(--grey-900);
}
